.app {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 1em;
}

.containerLogo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.5em;
}

.logo {
	height: 4em;
	padding-right: 0.5em;
}
